// Dashboard

#pageList a{
	padding:10px;
}

// Admin Nav

#adminNav{

	i.fa{
		// color: #ccc;
		padding-right:5px;
	}

  &>div>ul>li>a.active {
    color:#fff;
    cursor: text;
  }

}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

// Admin Nav Tabs & Panels

.row.tabPanel {
  display: none;
}

.row.tabPanel.active {
  display:block;
}

// CONTENT

.contentItem {
  border: 1px dashed #333;
  min-height: 100px;
  margin-bottom:10px;
  position:relative;

  // Content Controls

  ul.contentControlMenu {
    position:absolute;
    top:0;
    right:0;
    background-color: #fff;
    list-style: none;
    padding-left:0;

    display:none;

    li{
      display:inline-block;
      padding: 5px 10px;
      color:#000;
      a{
        color:#777;
        &:hover{
          color:#000;
        }
      }

      &.handle{
        cursor:move;
      }
    }
  }

  .resizeContentControls {
    display:none;
    padding: 10px;
  }
}





