// Dashboard

#contentList {
  thead>tr>td {
    font-weight: bold;
  }
  td.listName {
    &>a {
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tr.contentListRow {
    display:none;
    &.visible {
      display:table-row;
    }
  }
  td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
}

// Sortable Nav
#mainNav {
  i.navHandle {
    position:absolute;
    left:-2px;
    top:19px;
    cursor:move;
  }
}

// Admin Nav

#adminNav{

	i.fa{
		// color: #ccc;
		padding-right:5px;
	}

  &>div>ul>li>a.active {
    color:#fff;
    cursor: text;
  }

  p.navbar-text {
    margin-left:15px;
    font-weight: bold;
  }

}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

// Admin Nav Tabs & Panels

.tabPanel {
  display: none;
}

.tabPanel.active {
  display:block;
}

// CONTENT

.contentItem {
  background-color: white;
  min-height: 100px;
  margin-bottom:10px;
  position:relative;

  &.editContent {
    .content {
      border: 1px dashed #333;
    }
    
  }

  &.spacer {
    min-height:0;
    margin-bottom: 0;
  }

  &.spacer.editContent {
    margin-bottom:10px;
    border: 1px dashed #333;
  }

  // Content Controls

  ul.contentControlMenu {
    position:absolute;
    top:1px;
    right:7px;
    background-color: #fff;
    list-style: none;
    padding-left:0;

    display:none;

    li{
      display:inline-block;
      padding: 5px 10px;
      color:#000;
      a{
        color:#777;
        &:hover{
          color:#000;
        }
      }

      &.handle{
        cursor:move;
      }
    }
  }

  ul.spacerControls {
    position:relative;
    right:-5px;
    background-color: #fff;
    list-style: none;
    padding-left:0;
    margin-bottom: 0;

    li{
      display:inline-block;
      padding: 5px 10px;
      color: #000;
      a{
        color:#777;
        &:hover{
          color:#000;
        }
      }

      &.handle{
        cursor:move;
      }
    }
  }

  .resizeContentControls {
    display:none;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: 0 5px;
    padding:10px;
    border: 1px dashed #333;

    .btn-group {
      margin-bottom:5px;
    }

    select.form-control {
      width:auto;
      margin:0 auto;
    }
    p {
      font-size: .8em;
    }
  }
}






