// Admin thumbs
.adminThumb {
	position: relative;
	margin-bottom: 10px;

	.galImageControls {
		position: absolute;
		top:0;
		right:5px;
		background-color: white;
		border-radius: 0 0 0 5px;
		display:none;

		a {
			display:inline-block;
			padding: 5px 10px;
			color:#777;

			&:hover {
				color: #000;
			}
		}
	}

	img.handle {
		cursor:move;
		border-radius: 5px;
	}
}